.navbar {
    background: rgb(120, 202, 142) !important;

}

.navbar-nav {

    font-size: large !important;
    font-weight: bolder;
}

.nav-link {
    color: grey !important;
    font-weight: bolder;
    margin-left: 10px;

}

.fa-circle-user,
.fa-cart-shopping {
    font-size: 32px !important;
    color: rgb(62, 8, 11);
    margin-left: 20px;
}

.fa-truck-fast,
.fa-headset,
.fa-face-smile {
    font-size: 50px !important;
    margin-right: 10px;
    color: rgb(120, 202, 142);
}

.maincard {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 7px 7px 20px gray;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    .card1,
    .card2,
    .card3 {
        width: 100%;
    }
}

.h1 {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(120, 202, 142);
    font-style: inherit;
}

.btn-primary {
    width: 100%;
    color: black;
    background-color: rgb(120, 202, 142);
    border: 2px;

}

.card-title,
.card-text {
    text-align: center;
    color: rgb(120, 202, 142);
}

.card {
    width: 200px;
    height: 100px;
    margin-bottom: 240px;

}

.header {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(120, 202, 142);
    font-weight: 900;
    color: black;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}